body {
}

container {
  font-family: "proxima-nova", sans-serif;
  color: #424242;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow: scroll;
}

instances, versions {
  display: table;
  border-spacing: 3px;
  margin: 10px;
}

instances::before, versions::before {
  display: block;
  font-size: x-large;
  font-weight: bold;
  content: attr(data-key);
}

versions {
  display: none;
  padding: 10px;
  background: white;
  border: 1px solid black;
}

versions.live {
  display: table;
  position: relative;
}

close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: xx-large;
  cursor: pointer;
}

versionList {
  display: table-row-group;
}

headers, instance, version {
  display: table-row;
}

instance:nth-child(2n) {
  background-color: #e9e9e9;
}

instance:hover {
  background-color: #ff9900 !important;
}

instance.stale {
  background-color: rgba(255, 0, 0, 0.4) !important;
}

header {
  display: table-cell;
  text-align: center;
  color: #bcbcbc;
  white-space: nowrap;
  padding: 2px;
}

hostname, lastReport, uptime, timestamp, volumeID, reboot, command, status {
  font-family: "droid-sans-mono";
  display: table-cell;
  padding: 2px;
  text-align: right;
}

status {
  min-width: 20em;
  text-align: left;
}

volumeID {
  cursor: pointer;
}

instance.live reboot {
  cursor: pointer;
  color: #3299bb;
}

command {
  cursor: pointer;
  color: #3299bb;
}

hostnameLabel {
  font-family: "droid-sans-mono";
  font-size: x-large;
  font-weight: bold;
}
