body {
  font-family: "proxima-nova", sans-serif;
  color: #424242;
}

imageTypeSection {
  display: table;
  border-spacing: 3px;
  margin: 10px;
}

imageTypeSection::before {
  font-size: x-large;
  font-weight: bold;
  content: attr(data-key);
}

headers, instanceSection {
  display: table-row;
}

instanceSection:nth-child(2n) {
  background-color: #e9e9e9;
}

instanceSection:hover {
  background-color: #ff9900 !important;
}

header {
  display: table-cell;
  text-align: center;
  color: #bcbcbc;
  white-space: nowrap;
  padding: 2px;
}

hostname, lastReport, uptime, timestamp, volumeID, reboot {
  font-family: "droid-sans-mono";
  display: table-cell;
  padding: 2px;
  text-align: right;
}

volumeID {
  cursor: pointer;
}

instanceSection.live reboot {
  cursor: pointer;
  color: #3299bb;
}
